.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(209, 231, 9, 0.027);
    background-color: rgba(251, 243, 243, 0.974);
    transition: background-color 300ms ease, transform 150ms ease, box-shadow 150ms ease;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 86, 86, 0.847);
    transform: translateY(-0.1rem);
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #021a19ec;
    color: white;
}

.choice-text {
    padding: 1.5rem;
}

.correct {
    background-color: #229b3eb9; /* Green */
    color: white;
}

.incorrect {
    background-color: #dc354d; /* Red */
    color: white;
}
.hud-prefix {
    text-align: center;
    font-size: 1.6rem;
    color: #04011c;
}

.hud-main-text {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}
#loader {
    border: 1.6rem solid white;
    border-top: 1.6rem solid #3d2dcbea;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
    margin: auto;
}
#progressBarFull {
    height: 3.4rem;
    background-color: #5f0e5572;
    width: 0;
    transition: width 300ms ease-in-out;
}
